ConsoleApp1/Reduced_CSDK_12
ConsoleApp1/DepotDownloader
ConsoleApp1/Reduced_CSDK_12.zip
**/bin/**
**/obj/**
ConsoleApp1/cli-windows-x64
VDataEditor/resources/heroes.vdata_c
mapOutput/citadel_addons/jumping_map_map/maps/template_map9.vpk
